* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: url(assets/images/grass_night.png);
  max-width: 100%;
  max-height: 100%;
}

body {
  background: black;
}

.assets {
  display: none;
}

#controls {
  position: absolute;
  color: white;
  top: 5px;
  left: 50%;
  translate: -50% 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  font: 15px Consolas;
}

#buttons {
  width: 300px;
  /* height: 50px; */
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
}
#buttons button {
  width: 80px;
  background-color: black;
  color: rgb(0, 238, 255);
  font: 16px Consolas;
  border: 1px solid white;
  margin: 0 auto;
}

#scoreScreen {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
}

#playerChoice {
  padding: 10px 5px;
}

.playerLabel {
  font-size: 20px;
  margin-top: 10px;
}

#gameMenu {
  display: block;
  padding-top: 10px;
}

#gameOverScreen {
  background: url(assets/images/gameOver_forest.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#message1 {
  font-size: 30px;
  text-align: center;
}
#message2 {
  /* margin-top: 5px; */
  font-size: 25px;
  text-align: center;
}
